<div class="container">
  <h1><%= @article.name %></h1> 
  <br>
  <p><%= @article.content %></p>


  <%= link_to articles_path do %>
  <i class="fa fa-arrow-left fa-2x icns" aria-hidden="true"></i>
  <% end %>

  <%= link_to edit_article_path(@article) do %>
  <i class="fa fa-pencil fa-2x icns" aria-hidden="true"></i>
  <% end %>

  <%= link_to article_path(@article), method: :delete do %>
  <i class="fa fa-trash fa-2x icns" aria-hidden="true"></i>
  <% end %>
</div>





